
<meta charset="UTF-8" />
<title>AirDrop</title>

<link
  rel="stylesheet"
  type="text/css"
  href="/dist/css/bootstrap4.5.2.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/css/common.css"
/>


<script src="/dist/js/jquery.min.js"></script>
<script src="/dist/js/select2.min.js"></script>