<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/home-header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>edit users roles</h1>
        
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
